
.backgroundLayer {
  width: 100%;
  height: 100%;
  position: absolute;


  display: flex;
  align-items: center;

  justify-content: center;
  flex-direction: row;

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}
.queryReturn{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color:white;

 text-align: left;
 margin-top: 2.5em;



}

.invisble{
  display: none;

}



.content {

  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  margin: auto;
  width: 75%
  
}



.center{

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 550px;



}


.appTitle {
  margin-bottom: 3%;
  text-align: center;
  font-size: 42px;
  font-weight: 400;

}


.searchButton {
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: #3498db;
  width: 200px;
  padding: 5px 20px 5px 20px;
  margin: 2.25vh;
  text-decoration: none;
  border-style: none;
}

.randomButton {
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: #f44336;
  width: 200px;
  padding: 5px 20px 5px 20px;
  margin: 2.25vh;
  text-decoration: none;
  border-style: none;

}

.queryReturnBox {

  font-family: Arial;
  font-size: 21px;
  color: black;
  width: 93%;
  height: 2.75em;
  display: flex;
  padding-top: .45em;
  padding-left: .65em;
margin: auto;

}
.queryReturnBox:hover {
  background: #3498db;
  color: white;

}

.queryReturn a { 
  	text-decoration: none !important; }
.qheader {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: row;

}


.qappButtons {
  margin-top: 1.35%;
  margin-left: 1%;
}



.borderframeX{
  border-style: solid;
  border-width: 2px;
  border-left: 0;
  border-right: 0;
  border-top: 0;

}

.searchformX input {
  border:0;
  outline:0;
  box-shadow: none;
  font-size: 20px;
  height: 30px;
  margin-left: -10px;
}


.searchformX input:focus {
  outline:none!important;
  box-shadow: none;
}


.appTitleX {
  text-align: center;
  font-weight: 200;
  text-align: center;
  font-size: 40px;
  margin-top: 1em;
}


.backgroundLayerX {
  width: 100%;
  height: 100%;
  position: absolute;



}
.result-title {
  font-size: 20px;
}


.result-list{
  width: 93%;
  margin: auto;
  border-bottom: dashed;
  border-width: 1px;
  margin-top: 12px;

}

