.queryReturn{
  width: 100%;
  height: 100%;
  position: absolute;

}
.backgroundLayer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: white;
}

.content {

  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.appTitle {
  margin-bottom: 3%;
  text-align: center;
}

.searchBox {
  margin-bottom: 15%;
}

.searchButton {
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: #3498db;
  width: 200px;
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

.randomButton {
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: #f44336;
  width: 200px;
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

.queryReturnBox {

  font-family: Arial;
  color: black;
  font-size: 21px;
  margin: 2%;
  padding: 1%;

  background-color: white;
  border-style: dashed;
  border-width: 5px;

}



.queryTitle {
  color: white;
  height: 100%;
  padding: 1%;
  
}

.qheader {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: row;
}

.qsearchform {
  margin-top: 2%;
  margin-left: 1%;
}

.qappButtons {
  margin-top: 1.35%;
  margin-left: 1%;
}
